.special-container {
	margin-top: 50px;
    min-height: 520px;
}
.footer {
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    margin-top: 20px;
}
.container .text-muted {
    margin: 20px 0;
}
.director_img {
	width: 200px;
	height: auto;
	margin-bottom: 20px;
}
a.link {
	cursor: pointer;
}
.flash-message {
    display: none;
    margin-bottom: 40px;
    width: 100%;
}
.filter_box {
    float: right;
    width: 200px;
    margin-bottom: 40px;
}
.progress-bar {
    width: 100%;
}