<table class="table">
    <tbody>
	    <tr>
	        <td><h3>{{item.name}}</h3></td>
	        <td></td>
	    </tr>
	    <tr>
	        <td><label>Type:</label></td>
	        <td>{{item.type}}</td>
	    </tr>
	    <tr>
	        <td><label>Category:</label></td>
	        <td>{{item.category}}</td>
	    </tr>
	    <tr>
	        <td><label>Date:</label></td>
	        <td>{{item.date | date:fullDate}}</td>
	    </tr>
	    <tr>
	        <td><label>Description:</label></td>
	        <td>{{item.description}}</td>
	    </tr>
	</tbody>
</table>

<a class="btn btn-primary" ui-sref="app.edit({item.id})" href="#/item/{{item.id}}/edit">Edit</a><br><br>
<a class="btn btn-primary" ui-sref="app.items" href="#/items/">Back to List</a>