<h3>Home</h3>
<hr>

<h4>This is a basic CRUD in AngularJS</h4>
<p>Where you will find the following features/technologies:</p>

<ul>
	<li>Single Page Application</li>
	<li>Bootstrap Framework</li>
	<li>Pagination</li>
	<li>Filtering</li>
	<li>Form Validation</li>
	<li>Data retrieval from REST API (json-server)</li>
	<li>Http-server in NodeJS</li>
	<li>ngResource, UI Router</li>
</ul>

<p>Follow me on GitHub: <a href="https://github.com/juansneak" target="_blank"> https://github.com/juansneak</a></p>